<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Welcome to Craft CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
</head>
<body class="ltr">
    <main>
        {% set title = entry.contentTitle %}
        {% set description = entry.description %}
        <h1>Dit is de about page</h1>
        <p>{{title}}</p>
        <p>{{description}}</p>
    
    </main>
</body>
</html>
